.u-sidenav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* .u-sidenav-logo {
} */
.is-open .u-sidenav-header {
  /* flex-direction: column; */
  transition: all 200ms ease-in-out;
}
.u-sidenav-action {
  min-height: 50px;
  align-content: center;
}

.u-sidenav-action-list {
  display: flex;
  gap: 12px;
  padding: 0 8px;
  transition: all 200ms ease-in-out;
}
.is-open .u-sidenav-action-list {
  flex-direction: column-reverse;
  gap: 30px;
  margin-top: 25px;
}
.label-notification {
  position: absolute;
  top: -40%;
  left: -4px;
  height: 20px;
  width: 20px;
  display: grid;
  place-items: center;
  border-radius: 50%;
  background-color: gold;
  color: #000;
  font-size: 14px;
}
.u-dropdown {
  position: relative;
}
.u-dropdown-toggle {
  width: 30px;
  height: 30px;
  object-fit: fill;
  object-position: center;
  position: relative;
  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 40px;
    height: 40px;
    transform: translate(-12%, 12%);
    z-index: -1;
    border-radius: 50%;
    transition: background-color 150ms ease-in-out;
  }
  &:hover::after {
    background-color: var(--hover-bg-color);
  }
}
.user-status {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #61f061;
}
.u-dropdown-menu {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: auto;
  right: 5px;
  box-shadow: 0 0 30px var(--main-shadow-color);
  border-radius: 5px;
  transition: all 200ms ease-in-out;
  transform: scale(0.9);
  opacity: 0;
  visibility: hidden;
}
.notification-menu,
.profile-menu {
  &.dropdown-open {
    transform: scale(1);
    opacity: 1;
    visibility: visible;
    background-color: #fff;
  }
}
.u-dropdown-items {
  padding: 8px 10px 0 10px;
  font-size: 14px;
  line-height: 1.5;
  transition: background-color 150ms ease-in-out;
  &:first-child {
    border-bottom: 1px solid var(--secondary-border-color);
    padding-bottom: 4px;
  }
  &:last-child {
    border-top: 1px solid var(--secondary-border-color);
  }
  &:not(:first-child) {
    cursor: pointer;
  }
  &:hover {
    background-color: var(--light-bg-color);
  }
}
.u-dropdown-item {
  display: inline-flex;
  gap: 8px;
}
.u-dropdown-icon {
  width: 24px;
  height: 24px;
  display: inline-block;
}
.u-sidenav-notification-header {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  min-width: 150px;
}
