<main class="flex justify-between h-full">
  <aside class="sidebar w-72 px-4 h-full fixed left-0 border-r border-gray-200">
    <a
      href="#!"
      class="cursor-pointer inline-flex items-center justify-center w-full py-4"
    >
      <img
        class="h-14 w-14 hidden"
        src="/images/png/main-page-logo-small-hat.png"
        alt=""
      />
      <h1 class="gradient-text text-2xl font-semibold">Logo</h1>
    </a>
    <hr class="gradient-border h-0.5 border-transparent" />
    <ul class="pt-6">
      <li class="mb-4">
        <a href="#!" class="flex items-center text-xl font-medium gap-2">
          <i class="pi pi-home"></i><span>Home</span>
        </a>
      </li>
      <li class="mb-4">
        <a href="#!" class="flex items-center text-xl font-medium gap-2">
          <i class="pi pi-book"></i><span>Courses</span>
        </a>
      </li>

      <li class="mb-4">
        <a href="#!" class="flex items-center text-xl font-medium gap-2">
          <i class="pi pi-github"></i><span>Projects</span>
        </a>
      </li>
    </ul>
  </aside>
  <div class="content flex flex-col h-full grow">
    <header class="header text-black min-h-16">
      <div class="flex items-center justify-end pr-20">
        <!-- <a href="#!" class="inline-block mr-2">
          <i
            class="pi pi-youtube text-3xl inline-block text-red-500"
            style="font-size: 2.5rem"
          ></i
        ></a> -->
      </div>
    </header>
    <div class="flex grow h-full"></div>
  </div>
</main>
